body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FEFEFE;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FEFEFE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #01BAD2;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #01BAD2;
    color: #FEFEFE;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007B8A;
}

#output {
    text-align: left;
    margin-top: 20px;
}

.verse-container {
    page-break-inside: avoid; /* Evita quebras de página dentro do container */
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #FEFEFE;
    border-radius: 4px;
}

.verse-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #01BAD2;
}

.verse-text {
    font-size: 16px;
    color: #000000;
}

.instagram-link {
    margin-top: 10px;
    display: flex;
    text-decoration: none; /* Remover sublinhado padrão de links */
    align-items: center;
    justify-content: flex-end;
    color: #01BAD2;
}

.instagram-link i {
    margin-right: 5px;
}

/* Configuração para impressão */
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 1cm;
    }

    .container {
        max-width: none;
        width: 100%;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    .print-hidden {
        display: none;
    }
}
